<div class="row">
	<div class="small-12 large-6 columns">
		<div id="create-expense-widget"></div>
		<div id="list-expense-widget"></div>
	</div>

	<div class="small-12 large-6 columns">
		<fieldset>
			<legend>Stats</legend>
			<dl class="sub-nav">
		    <dt>Period:</dt>
		    <dd class="active"><a href="#">1 month</a></dd>
		    <dd><a href="#">3 months</a></dd>
		    <dd><a href="#">12 months</a></dd>
		    <dd><a href="#">All</a></dd>
		  </dl>

			<img src="https://chart.googleapis.com/chart?cht=rs&chs=300x300&chd=t:77,66,15,0,31,48,100,77|20,36,100,2,0,100&chco=FF0000,FF9900&chls=2.0,4.0,0.0|2.0,4.0,0.0&chxt=x&chxl=0:|0|45|90|135|180|225|270|315&chxr=0,0.0,360.0&chg=25.0,25.0,4.0,4.0&chm=B,FF000080,0,1.0,5.0|B,FF990080,1,1.0,5.0"/>
		</fieldset>

	</div>
</div>
