<form>
	<fieldset>
	<legend>New movement</legend>
	<div class="row">
		<div class="small-12 columns">
			<div class="switch round">
				<input id="type-expense" name="type" type="radio" value="expense" checked>
			  <label for="type-expense" onclick="">Expense</label>
			  <input id="type-income" name="type" type="radio" value="income">
			  <label for="type-income" onclick="">Income</label>
			  <span></span>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="small-12 columns js-cg-label">
			<label>Label</label>
	    <select name="label">
	    	<option value="">Select one...</option>
				{{#labels}}
				<option value="{{ _id }}">{{ name }}</option>
				{{/labels}}
			</select>
		</div>
  </div>
  <div class="row">
  	<div class="small-12 columns js-cg-amount">
			<label>Amount</label>
			<input name="amount" type="number" min="0">
  	</div>
  </div>
  <div class="row">
  	<div class="small-12 columns js-cg-when">
			<label>When</label>
			<input name="when" type="text" class="js-datepicker">
  	</div>
  </div>
  <div class="row">
  	<div class="small-12 columns">
			<a href="javascript:void(0)" class="right medium button round js-submit">Save</a>
  	</div>
  </div>
  </fieldset>
</form>