<div class="row">
  <div class="eight columns text-center">
    <h3>Welcome to xpnsy</h3>
    <p>xpnsy is a nice application to track your expenses.</p>
  </div>
  <div class="four columns">
    <form>
      <fieldset>
        <legend>Login</legend>

        <div class="row">
          <div class="twelve columns">
            <input type="text" placeholder="Username">
          </div>
        </div>

        <div class="row">
          <div class="eight columns">
            <input type="text" placeholder="Password">
          </div>
          <div class="four columns">
            <a href="#" class="button prefix">Action</a>
          </div>
        </div>
      </fieldset>
    </form>
  </div>
</div>

