<form>
	<fieldset>
	<legend>New expense</legend>
	<div class="row">
		<div class="small-12 columns js-cg-label">
			<label>Type</label>
	    <select name="label">
	    	<option value="0">Select label...</option>
				{{#labels}}
				<option value="{{ _id }}">{{ name }}</option>
				{{/labels}}
			</select>
		</div>
  </div>
  <div class="row">
  	<div class="small-12 columns js-cg-amount">
			<label>Amount</label>
			<input name="amount" type="number">
  	</div>
  </div>
  <div class="row">
  	<div class="small-12 columns">
			<a href="javascript:void(0)" class="medium button js-submit">Save</a>
  	</div>
  </div>
  </fieldset>
</form>