<div class="row">
  <div class="small-8 columns text-center">
    <h2>xpnsy</h2>
    <p>Because you need to track your expenses</p>

    <blockquote>"I spent 90% of my money on women, drink and fast cars. The rest I wasted.<cite>George Best</cite></blockquote>
  </div>

  <div class="small-4 columns text-center">
    <fieldset>
      <legend>Start</legend>
      <div class="row">
        <div class="twelve columns">
          <a href="/auth/facebook" class="medium button prefix">Login with Facebook</a>
        </div>
      </div>
    </fieldset>
  </div>
</div>

