<fieldset>
	<legend>Overview</legend>

	<div class="section-container auto" data-section>
	  <section>
	    <p class="title" data-section-title><a class="js-show-expenses" href="javascript:void(0)">Expenses</a></p>
	    <div id="expenses-chart" class="content" data-section-content>
	    </div>
	  </section>
	  <section>
	    <p class="title" data-section-title><a class="js-show-incomes" href="javascript:void(0)">Incomes</a></p>
	    <div id="incomes-chart" class="content" data-section-content>
	    </div>
	  </section>
	</div>
</fieldset>